

#background{
    background-color: azure

}


#nav_class {
    list-style-type: none;
    background-color: orange;
    overflow: hidden;
    width: 220px;
}

.title {
    font-style: italic;
    font-family: "Comic Sans";
    color: #FFC300;
}